<?xml version='1.0' encoding='UTF-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:macro name="denso_robot_arm_kinematics" params="namespace model parent *origin">

		<joint name="${namespace}joint_w" type="fixed">
			<xacro:insert_block name="origin" />
			<parent link="${parent}" />
			<child link="${namespace}base_link" />
		</joint>

		<link name="${namespace}base_link">
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<geometry>
					<mesh filename="file:///$(find denso_robot_descriptions)/robots/$(arg model)/meshes/base_link.dae" scale="1 1 1"/>
				</geometry>
			</visual>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0.050"/>
				<geometry>
					<cylinder radius="0.100" length="0.100"/>
				</geometry>
			</collision>
			<inertial>
				<mass value="1"/>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
			</inertial>
		</link>

		<link name="${namespace}J1">
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<geometry>
					<mesh filename="file:///$(find denso_robot_descriptions)/robots/$(arg model)/meshes/J1.dae" scale="1 1 1"/>
				</geometry>
			</visual>
			<!-- J1 arm: extends 0.375 m along X to joint_2 -->
			<collision>
				<origin rpy="0 0 0" xyz="0.187 0 0"/>
				<geometry>
					<box size="0.375 0.080 0.060"/>
				</geometry>
			</collision>
			<inertial>
				<mass value="1"/>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
			</inertial>
		</link>
		<joint name="${namespace}joint_1" type="revolute">
			<parent link="${namespace}base_link"/>
			<child link="${namespace}J1"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<axis xyz="0 0 1"/>
			<limit effort="1" lower="-2.26892802759263" upper="2.26892802759263" velocity="3.08615226990019"/>
			<dynamics damping="0" friction="0"/>
		</joint>

		<link name="${namespace}J2">
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<geometry>
					<mesh filename="file:///$(find denso_robot_descriptions)/robots/$(arg model)/meshes/J2.dae" scale="1 1 1"/>
				</geometry>
			</visual>
			<!-- J2 arm: goes -0.375 m back along X then 0.650 m forward to joint_4 -->
			<collision>
				<origin rpy="0 0 0" xyz="0.138 0 0"/>
				<geometry>
					<box size="0.375 0.080 0.060"/>
				</geometry>
			</collision>
			<inertial>
				<mass value="1"/>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
			</inertial>
		</link>
		<joint name="${namespace}joint_2" type="revolute">
			<parent link="${namespace}J1"/>
			<child link="${namespace}J2"/>
			<origin rpy="0 0 0" xyz="0.375000 0 0"/>
			<axis xyz="0 0 1"/>
			<limit effort="1" lower="-2.61799387799149" upper="2.61799387799149" velocity="5.41357500737341"/>
			<dynamics damping="0" friction="0"/>
		</joint>

		<link name="${namespace}J3">
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<geometry>
					<mesh filename="file:///$(find denso_robot_descriptions)/robots/$(arg model)/meshes/J3.dae" scale="1 1 1"/>
				</geometry>
			</visual>
			<!-- J3 prismatic: travels 0.32 m along Z -->
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0.060"/>
				<geometry>
					<cylinder radius="0.030" length="0.320"/>
				</geometry>
			</collision>
			<inertial>
				<mass value="1"/>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
			</inertial>
		</link>
		<joint name="${namespace}joint_3" type="prismatic">
			<parent link="${namespace}J2"/>
			<child link="${namespace}J3"/>
			<origin rpy="0 0 0" xyz="-0.375000 0 0"/>
			<axis xyz="0 0 1"/>
			<limit effort="1" lower="-0.1" upper="0.22" velocity="1.9"/>
			<dynamics damping="0" friction="0"/>
		</joint>

		<link name="${namespace}J4">
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<geometry>
					<mesh filename="file:///$(find denso_robot_descriptions)/robots/$(arg model)/meshes/J4.dae" scale="1 1 1"/>
				</geometry>
			</visual>
			<!-- J4: end-effector / tool attachment -->
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<geometry>
					<cylinder radius="0.040" length="0.060"/>
				</geometry>
			</collision>
			<inertial>
				<mass value="1"/>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
			</inertial>
		</link>
		<joint name="${namespace}joint_4" type="revolute">
			<parent link="${namespace}J3"/>
			<child link="${namespace}J4"/>
			<origin rpy="0 0 0" xyz="0.650000 0 0"/>
			<axis xyz="0 0 1"/>
			<limit effort="1" lower="-6.28318530717959" upper="6.28318530717959" velocity="25.2968981715147"/>
			<dynamics damping="0" friction="0"/>
		</joint>

	</xacro:macro>
</robot>