<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- here you define the parameters you want your xacro file to receive. -->
    <xacro:macro name="gz_cam" params="namespace">

      <!-- if your tool has meshes, define the path to it in geometry tag. -->
      <!-- see the vs050 robot urdf implementation as an example. -->
      <link name="${namespace}gz_cam_link" />

      <joint name="${namespace}gz_cam_joint" type="fixed">
        <!-- You should always attach the flange -->
        <parent link="${namespace}flange"/> 
        <child link="${namespace}gz_cam_link"/>
        <origin rpy="0 ${radians(-90)} 0" xyz="0 0 0.01"/>
      </joint>

      <gazebo reference="${namespace}gz_cam_link">
        <sensor name="${namespace}gz_cam" type="camera">
          <camera>
            <horizontal_fov>1.047</horizontal_fov>
            <image>
              <width>640</width>
              <height>480</height>
            </image>
            <clip>
              <near>0.1</near>
              <far>100</far>
            </clip>
          </camera>
          <always_on>1</always_on>
          <update_rate>30</update_rate>
          <visualize>true</visualize>
          <topic>${namespace}gz_cam</topic>      
        </sensor>
      </gazebo>
    </xacro:macro>
</robot>